<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Spring In My Heart</title>
        <singer classification="unknown">פאניק אנסמבל</singer>
        <writer>ברק פלדמן</writer>
        <composer>רועי ירקוני</composer>
        <album>missing</album>
      </titleStmt>
      <publicationStmt>
        <date>2016</date>
      <publisher>Yoav Cohen and Maya Ben Tov, Ben-Gurion University</publisher></publicationStmt>
      <sourceDesc>
        <p>The website SongLyrics: http://songlyrics.co.il</p>
      </sourceDesc>
    </fileDesc>
    <profileDesc>
      <langUsage>
        <language ident="he">Hebrew</language>
      </langUsage>
    </profileDesc>
  </teiHeader>
  <text>
    <body>
      <lg type="song lyrics">
        <head>Spring In My Heart</head>
        <lg number="1" type="stanza">
          <l>Under the tree </l>
          <l>the sun is climbing high </l>
          <l>I open up </l>
          <l>to you my butterfly </l>
          <l>winds of seduction around us </l>
          <l>leaving my seeds </l>
          <l>under your wings </l>
        </lg>
        <lg number="2" type="stanza">
          <l>under the tree </l>
          <l>the sun is shinning bright </l>
          <l>colors of lust </l>
          <l>they tingle in my eyes </l>
          <l>time drops falls down on my petals </l>
          <l>leaving the wide </l>
          <l>open fields behind </l>
        </lg>
        <lg number="3" type="stanza">
          <l>oh-bearing my life without you there </l>
          <l>under the graceful moon </l>
          <l>I will carry on </l>
          <l>with the memory of your whispers </l>
          <l>spring in my heart </l>
        </lg>
        <lg number="4" type="stanza">
          <l>under the tree </l>
          <l>the bitter ending night </l>
          <l>I'm closing down </l>
          <l>On you my butterfly </l>
          <l>Dance so the stars will remember </l>
          <l>Fluttering light </l>
          <l>On your last flight</l>
        </lg>
      </lg>
    </body>
  </text>
</TEI>
