<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>spring b stevie winwood</title>
        <singer classification="male singer">שי נובלמן</singer>
        <writer>שי נובלמן</writer>
        <composer>שי נובלמן</composer>
        <album>missing</album>
      </titleStmt>
      <publicationStmt>
        <date>2016</date>
      <publisher>Yoav Cohen and Maya Ben Tov, Ben-Gurion University</publisher></publicationStmt>
      <sourceDesc>
        <p>The website SongLyrics: http://songlyrics.co.il</p>
      </sourceDesc>
    </fileDesc>
    <profileDesc>
      <langUsage>
        <language ident="he">Hebrew</language>
      </langUsage>
    </profileDesc>
  </teiHeader>
  <text>
    <body>
      <lg type="song lyrics">
        <head>spring b stevie winwood</head>
        <lg number="1" type="stanza">
          <l>Swimming on a sunny day </l>
          <l>Girl like you so pretty </l>
          <l>Like the sun you're shining </l>
          <l>All around the world today </l>
        </lg>
        <lg number="2" type="stanza">
          <l>In a red sport racing car </l>
          <l>That’s a present from an uncle </l>
          <l>Lives in California, a man who has no name </l>
          <l>You’re time is up </l>
          <l>And so is mine </l>
          <l>We’re surfing E.L.O and U.S.A </l>
        </lg>
        <lg number="3" type="stanza">
          <l>You were saying Stevie Winwood is you’re dad </l>
          <l>And he might ask me to join his brand new band </l>
          <l>I started laughing, CO’s I thought that he was dead </l>
          <l>We went completely mad </l>
          <l>CO's this is who you are and you'll never ever change </l>
        </lg>
        <lg number="4" type="stanza"/>
        <lg number="5" type="stanza">
          <l>Thought that come into my mind </l>
          <l>Boy you are so pretty </l>
          <l>Beautiful, a Joker -Wild </l>
          <l>Oh tell me what's you're name </l>
        </lg>
        <lg number="6" type="stanza">
          <l>Verse4: </l>
          <l>Playing football in a park </l>
          <l>Leaves are falling down </l>
          <l>Singing to themselves </l>
          <l>You looked at me, smiled at you </l>
          <l>Aha, the magic in the air </l>
          <l>You were saying Stevie Winwood is your dad </l>
          <l>He might ask me to join his brand new band </l>
          <l>I started laughing, I thought that he was dead </l>
          <l>We were sitting on my bed </l>
          <l>And I went completely mad </l>
          <l>You told me that you can’t </l>
          <l>CO’s this is who you are and you'll never ever change </l>
          <l>This is who you are and you'll never ever change </l>
        </lg>
        <lg number="7" type="stanza">
          <l>CO's this is who you are and you'll never ever change</l>
        </lg>
      </lg>
    </body>
  </text>
</TEI>
