<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Spring Girl</title>
        <singer classification="unknown">עומר לשם</singer>
        <writer>עומר לשם</writer>
        <composer>עומר לשם</composer>
        <album>missing</album>
      </titleStmt>
      <publicationStmt>
        <date>2016</date>
      <publisher>Yoav Cohen and Maya Ben Tov, Ben-Gurion University</publisher></publicationStmt>
      <sourceDesc>
        <p>The website SongLyrics: http://songlyrics.co.il</p>
      </sourceDesc>
    </fileDesc>
    <profileDesc>
      <langUsage>
        <language ident="he">Hebrew</language>
      </langUsage>
    </profileDesc>
  </teiHeader>
  <text>
    <body>
      <lg type="song lyrics">
        <head>Spring Girl</head>
        <lg number="1" type="stanza">
          <l>Spring, came so suddenly on me </l>
          <l>Bouncing free, secretly </l>
          <l>Spring, how do you do? that thing you do </l>
          <l>Up and down, I want you </l>
          <l>Spring girl, are you hearing my call ? </l>
          <l>I'm up on the wall, don't mind if I fall </l>
        </lg>
        <lg number="2" type="stanza">
          <l>Spring girl, what a killer bee you are </l>
          <l>I can't believe, I made it this far </l>
          <l>You have gone too far with my feelings - she said </l>
          <l>You've been reckless with my heart </l>
          <l>No more no more, I'll put out my stop sign now </l>
          <l>Thank you very much, No trespassing </l>
        </lg>
        <lg number="3" type="stanza">
          <l>Spring girl, bouncing hard, hitting walls </l>
          <l>Stinging words, flippin' birds </l>
          <l>Spring girl, where are you, I ain't coming through </l>
          <l>Now I bounce like stones, breaking my bones </l>
          <l>Spring girl, I'll sing you a song, it won't do ya no wrong </l>
          <l>It won't do you no wrong, if I sing you a song</l>
        </lg>
      </lg>
    </body>
  </text>
</TEI>
